<html lang="en_us">
<head>
    <!Provide path to link to styling file, image files and 3rd party javascript library––>
    <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!Use of Javascript library socket.io.js to connect to the python web server––>
    <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js'></script>
    <title>ClientUI</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-cell navbar-icon" id="navbar-icon"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="icon"></div>
        <ul class="navbar-group navbar-group-1">
            <li><div class="navbar-cell" id="navbar-cell-Something"><span>Something</span></div></li>
            <li><div class="navbar-cell" id="navbar-cell-Something"><span>Something 1</span></div></li>
            <li><div class="navbar-cell" id="navbar-cell-Something"><span>Something 2</span></div></li>
        </ul>
    </div>
    <div class="center">
        <canvas id="project-model"></canvas>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

