body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #A7D9E1;
}

div.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.navbar .navbar-group {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: center;
  margin: 10px;
  padding: 0;
}

div.navbar .navbar-cell {
  width: 100px;
  height: 32px;
  text-align: center;
  margin: 10px;
}

div.navbar .navbar-group .navbar-cell {
  margin: 5px 10px;
}

div.navbar .navbar-icon {
  margin: 5px 50px;
  width: 100px;
  height: 50px;
}

div.navbar .navbar-icon img {
  width: 100px;
  height: 50px;
}

div.navbar .navbar-cell span {
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  font-size: medium;
  font-weight: normal;
}

div.center {
  margin: auto;
  text-align: center;
}


body>div.center {
  margin-top: 25vh;
}

dialog {
  padding: 25px;
  width: 750px;
  height: 325px;
}

dialog div.center span {
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  font-size: medium;
  font-weight: normal;
}

dialog div.center div.modal-group {
  width: 700px;
  height: 275px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

dialog button#modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  background: white center no-repeat url("/static/images/close.png");
  background-size: 32px;
}

.navbar-group-1 {
  position: relative;
  left: -100px;
}

#project-model {
  cursor: pointer;
}

div#box-overview div#boxSave {
  border: 2px solid black;
  width: 150px;
  height: 50px;
  vertical-align: center;
  text-align: center;
  justify-self: center;
  margin: 10px auto;
}

div#box-overview div#boxSave button {
  outline: none;
  border: none;
  line-height: 30px;
  margin: 10px 10px;
  background-color: white;
  cursor: pointer;
}

div#tempSet,
div#lockState,
div#boxState,
div#tempState {
  margin: auto;
}

div#tempSet,
div#boxState {
  margin-top: 50px;
}

div#tempSet div#temp-knob {
  width: 150px;
  height: 150px;
  margin: auto;
}

div#box-state div#lockState div#view-lock-state,
div#box-state div#boxState div#view-box-state,
div#box-temperature div#tempState div#view-temp-state {
  width: 150px;
  height: 150px;
  background: white center no-repeat;
  background-size: 150px ;
}

#alarm {
  width: 500px;
  height: 500px;
  margin: auto;
  position: absolute;
  left: calc(50vw - 250px);
  top: calc(50vh - 250px);
  visibility: hidden;
}

#overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(218,220,224,.8);
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  user-select: none;
}

#overlay.display {
  z-index: 10;
}

#alarm.display {
  visibility: visible;
}

dialog#navbar-box {
  height: 475px;
}

dialog#alarm-box {
  height: 200px;
}

div#pin_input_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#pin_input_container input[type='number']#pin_input {
  width: 50px;
  text-align: center;
  outline: none;
  padding: 2rem 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  border: 2px solid lightslategrey;
  border-radius: .5rem;
}

div#pin_input_container input[type='number']#pin_input:valid {
  border-color: rgba(0, 255, 0, .5);
}

div#pin_input_container input[type='number']#pin_input:invalid {
  border-color: rgba(255, 0, 0, .5);
}

div#pin_input_container input[type='number']#pin_input::-webkit-inner-spin-button,
div#pin_input_container input[type='number']#pin_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

div#button-wrapper {
  border: 2px solid black;
  width: 75px;
  height: 25px;
  vertical-align: center;
  text-align: center;
  justify-self: center;
  margin: 5px auto;
}

div#button-wrapper button#modal-execute {
  outline: none;
  border: none;
  line-height: 15px;
  margin: 5px 5px;
  background-color: white;
  cursor: pointer;
}

input[type='number']#lock-timeout {
  width: 200px;
  height: 50px;
  text-align: center;
  outline: none;
  border: 2px solid lightslategrey;
  border-radius: .5rem;
}

div#overview {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
}

div#overview div.box-overview {
  display: flex;
  flex-direction: row;
  margin: 5px 10px 0 0;
  height: 50px;
  position: relative;
  bottom: 100px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #8FA9FB;
}

div#overview div.box-overview div span {
  width: 50px;
  text-align: center;
  vertical-align: center;
}

div#overview div.box-overview div:has(span) {
  min-width: 200px;
  margin: auto 0 auto 10px;
  vertical-align: center;
}

div#overview div.box-overview div#toggle-lock {
  width: 25px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}
